In [1]:
print("Hello World")

Hello World

In [1]:
print("Hello Gopichand")

Hello Gopichand

In [1]:
a=20

In [2]:
type(a)

int

In [3]:
b=11.34

In [4]:
type(b)

float

In [5]:
c='hi'

In [6]:
type(c)

str

In [7]:
c3='hello gopichand'

In [8]:
type(c3)

str

In [9]:
d=False #true

In [10]:
type(d)

bool

In [11]:
type(9)

int

In [7]:
d=2+3j

In [8]:
type(d)

complex

In [3]:
type(2)

int

In [4]:
"Today I am practicing python programming language"

'Today I am practicing python programming language'

In [5]:
'Today I am practicing python programming language'

'Today I am practicing python programming language'

In [9]:
a

(2+3j)

In [12]:
print(a)

(2+3j)

Multi-line string

In [14]:
"""Today is python 
programming 
2nd class"""

'Today is python \nprogramming \n2nd class'

In [15]:
print("""Today is 
python programming 
2nd class""")

Today is
python programming
2nd class

In [16]:
'''
Today is 
python programming 
2nd class
'''

'\nToday is \npython programming \n2nd class\n'

In [17]:
print('''
Today is 
python programming 
3rd class
''')

Today is
python programming
3rd class

In [19]:
a=15
print(a)

15

In [20]:
a=10
b=30.95
# c = 'hello'
# d = true
# e = 3+5.5j

In [21]:
'''
a = 10
b = 30.95
c = 'hello'
d = True
e = 3 + 5.5j
'''

"\na = 10\nb = 30.95\nc = 'hello'\nd = True\ne = 3 + 5.5j\n"

Variables

In [22]:
a=10

In [23]:
print(a)

10

In [26]:
a=20.55

In [27]:
print(a)

20.55

In [28]:
type(a)

float

In [29]:
a1 = 22.5

In [30]:
print(a1)

22.5

In [31]:
_1a=10.5
print(_1a)

10.5

In [32]:
a = 5.6
b = 10
c = True
d = 'hi'

In [33]:
type(a)

float

In [34]:
type(b)

int

In [35]:
type(c)

bool

In [36]:
type(d)

str

In [37]:
str(d)

'hi'

In [38]:
int(b)

10

In [39]:
float(a)

5.6

In [42]:

int(True)

1

In [43]:

float(True)

1.0

In [44]:
int(False)

0

In [45]:
float(False)

0.0

In [46]:
str(True)

'True'

In [47]:
str(False)

'False'

In [48]:

bool('hi')

True

In [49]:
bool('')

False

In [50]:
bool(400)

True

In [51]:
bool(-400.7)

True

In [52]:
bool(3)

True

In [53]:

bool(0)

False

In [54]:
bool(-9)

True

Arithmetic operators

In [55]:

a = 10
b = 8

In [56]:
a+b

18

In [57]:
a-b

2

In [58]:
1/3

0.3333333333333333

In [59]:
1/5

0.2

In [60]:
0/5

0.0

In [61]:
a*b

80

In [62]:
a//b

1

In [63]:
16%3

1

In [64]:
17%8

1

In [65]:
2 ** 3

8

In [66]:
3 ** 3

27

In [67]:
print(a)
print(b)

10
8

In [68]:
a ** b

100000000

In [69]:

4 ** 1.5

8.0

In [71]:
2 ** (1/3)

1.2599210498948732

In [72]:
True / True

1.0

In [73]:
False / False

ZeroDivisionError: division by zero

In [74]:
'hi' + 'hello'

'hihello'

In [75]:
'hello' * 3

'hellohellohello'

Relational Operators or Conditional Operators

In [76]:

1 < 2

True

In [77]:
1 > 2

False

In [78]:
2>1

True

In [79]:
1>1

False

In [80]:
3>2

True

In [81]:
1>=1

True

In [82]:
1 != 2

True

In [83]:
True == True

True

In [84]:
True != True

False

Logical Operator

In [85]:

True and True

True

In [86]:

False and True

False

In [87]:
False and False

False

In [88]:
True or True

True

In [89]:
True or False

True

In [90]:
False or False

False

In [91]:
not False

True

In [92]:
not True

False

Python Statements or Control flow

* if
* elif
* else

In [93]:
a = 20
b = 5

In [94]:

a>b

True

In [95]:

a<b

False

In [101]:
if a>b:
    print("a is minimum")
    print(a)
print("This is out of if block")

a is minimum
20
This is out of if block

In [102]:
total_amount = 12000 # hard-coding

In [103]:
total_amount > 10000

True

In [110]:
total_amount = 400
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")
## End of if-else
print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
380.0

In [109]:
if total_amount>10000:
    total_payable = total_amount * 0.8
    print("this is from if condition")

else:
    total_payable = total_amount * 0.95
    print("This is else condition")
    
print("Total amount payable is")
print(total_payable)

this is from if condition
Total amount payable is
9600.0

In [115]:
total_amount = 200
total_amount>10000

False

In [113]:
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
190.0

Accepting input at runtime

In [116]:
a = input("Enter any number") # The output of input function is in string format
print(a)
print(type(a))

20
<class 'str'>

In [117]:
a * 0.5

TypeError: can't multiply sequence by non-int of type 'float'

In [118]:
a * a

TypeError: can't multiply sequence by non-int of type 'str'

In [119]:
type(a)

str

In [120]:
int(a)

20

In [121]:
int(a) * 0.5

10.0

In [122]:
total_amount_str = input("Enter total amount") # The output of input function is in string format
print(total_amount_str)
print(type(total_amount_str))
total_amount = int(total_amount_str)
print(type(total_amount))

500
<class 'str'>
<class 'int'>

In [123]:
print('total_amount: ', total_amount)
if total_amount>10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is:",total_payable)

total_amount:  500
This is from else-block
Total amount payable is: 475.0

In [124]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [126]:
print("Total amount payable is:",total_payable,sep='|')

Total amount payable is:|475.0

In [135]:
total_amount = input("Enter total amount")
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

if total_amount>10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    if total_amount >= 5000:
        total_payable = total_amount * 0.9
        print("This is from else block --> if")
    else:
        total_payable = total_amount * 0.95
        print("This is from else block --> else")
        
print("Total amount payable is:",total_payable)

12000 <class 'str'>
<class 'int'>
This is from if-block
Total amount payable is: 9600.0

In [136]:
total_amount = input("Enter total amount")
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

if total_amount>= 10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    if total_amount >= 5000:
        total_payable = total_amount * 0.9
        print("This is from else block --> if")
    else:
        total_payable = total_amount
        print("This is from else block --> else")
    # End of internal if-else
# End of outer if-else
print("Total amount payable is:",total_payable)

4500 <class 'str'>
<class 'int'>
This is from else block --> else
Total amount payable is: 4500

In [137]:
a = 'Red'

In [138]:
'Red' == 'Red'

True

In [139]:
'Red' == 'RED'

False

In [140]:
'Red'.lower() == 'RED'.lower()

True

In [141]:
'rED'.upper() == 'RED'.upper()

True

In [144]:
traffic_light = input("Enter input as RED, YELLOW, GREEN: ")
print("traffic_light: ", traffic_light)

if traffic_light.upper() == 'GREEN':
    print("Go!")
elif traffic_light.upper() == 'YELLOW':
    print("Slow down")
elif traffic_light.upper() == 'RED':
    print("Stop")
else:
    print("Invalid input.")

traffic_light:  green
Go!

In [145]:
a = 1
while a < 6:
    print(a)
    a = a + 1

1
2
3
4
5

In [25]:
list=["vishnu","gopi","yashi","srinivas","ajay"]

In [3]:
a=["vishnu","gopi","yashi","srinivas","ajay"]

In [5]:
for i in a:
    print(i.upper())

VISHNU
GOPI
YASHI
SRINIVAS
AJAY

In [16]:
print('_'.join(["vishnu", "gopi", "yashi", "srinivas", "ajay"]))

vishnu_gopi_yashi_srinivas_ajay

In [60]:
a = ["vishnu", "gopi", "yashi", "srinivas", "ajay"]

In [61]:
a

['vishnu', 'gopi', 'yashi', 'srinivas', 'ajay']

In [8]:
for i in a:
    print(i.upper(),end="_")

VISHNU_GOPI_YASHI_SRINIVAS_AJAY_

In [62]:
a.*?

a.__add__
a.__class__
a.__class_getitem__
a.__contains__
a.__delattr__
a.__delitem__
a.__dir__
a.__doc__
a.__eq__
a.__format__
a.__ge__
a.__getattribute__
a.__getitem__
a.__getstate__
a.__gt__
a.__hash__
a.__iadd__
a.__imul__
a.__init__
a.__init_subclass__
a.__iter__
a.__le__
a.__len__
a.__lt__
a.__mul__
a.__ne__
a.__new__
a.__reduce__
a.__reduce_ex__
a.__repr__
a.__reversed__
a.__rmul__
a.__setattr__
a.__setitem__
a.__sizeof__
a.__str__
a.__subclasshook__
a.append
a.clear
a.copy
a.count
a.extend
a.index
a.insert
a.pop
a.remove
a.reverse
a.sort

In [4]:
l1=[-15,2,6,15,-9,10]
a.sort()
print(a)

[-15, -9, 2, 6, 10, 15]

In [6]:
l2=[1,2,3,4,5]

In [1]:
a = [1,2,3,4,5,6]

In [63]:
a.append(102)

In [23]:
c=[0,1,2,3,4,5,6,7,8,9,10]

In [24]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
c.pop()

10

In [28]:
c.pop(-5)

5

In [33]:
c.clear()

In [34]:
c

[]

In [37]:
len(c)

0

In [40]:
c=[1,2,3,4,5,6,7,8,9,10]

In [41]:
len(c)

10

In [42]:
c*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
c*3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [45]:
c+c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
[1,2,3,4,5]+[6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
d=[1, 2, 3, 4,4,5,6,1,2,3,4,5,6]

In [53]:
d.sort()

In [51]:
d

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]

In [55]:
d.count(2)

2

In [56]:
d.append(15)
d.append(11)
d.append(10)

In [1]:
odd_nums=[]
for i in range(1,100):
    if i%2==1:
        odd_nums.append(i)
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [79]:
sqrt_nums=[ ]
for i in range(1,11): 
        sqrt_nums.append(i**0.5) 
print(sqrt_nums)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [75]:
odd_nums=[]
for i in range(1,100):
    if i%2 != 0 and i%5==0:
        odd_nums.append(i)
print(odd_nums)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [3]:
print("Hello leelagopichand")

Hello leelagopichand

In [12]:
a = [1,2,3,4,5,6]

In [8]:
a

[]

In [3]:
a.pop()

6

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
a.pop(-4)

2

In [6]:
a.clear()

In [10]:
a

[]

In [13]:
a

[1, 2, 3, 4, 5, 6]

In [14]:
len(a)

6

In [16]:
a * 5

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

In [17]:
a + a

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [18]:
[1,2,3,4] + [5,6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
b = [1,2,3,4,5]

In [21]:
b

[1, 2, 3, 4, 5]

In [23]:
c = [10,40, 30]

In [24]:
b+c

[1, 2, 3, 4, 5, 10, 40, 30]

In [25]:
b.extend(c)

In [26]:
c

[10, 40, 30]

In [27]:
b

[1, 2, 3, 4, 5, 10, 40, 30]

In [28]:
b.extend([40,50])

In [29]:
b

[1, 2, 3, 4, 5, 10, 40, 30, 40, 50]

In [30]:
b.extend(40)

TypeError: 'int' object is not iterable

In [31]:
b.extend?

Signature: b.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [34]:
b.index(30)

7

In [37]:
b.index(10)

5

In [38]:
b.index(50)

9

In [41]:
b.index(-1)

ValueError: -1 is not in list

In [42]:
b.index?

Signature: b.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [44]:
b

[1, 2, 3, 4, 5, 10, 40, 30, 40, 50]

In [47]:
b[8]

40

In [48]:
b.insert(8,9)

In [49]:
b

[1, 2, 3, 4, 5, 10, 40, 30, 9, 40, 50]

In [50]:
len(b)

11

In [52]:
b.insert(-30,'Python')

In [69]:
b

[50, 9, 30, 5, 4, 3, 2, 1, 'Python']

In [54]:
b.reverse()

In [71]:
b

[50, 9, 30, 5, 4, 3, 2, 1, 'Python']

In [72]:
b.remove(5)

In [73]:
b

[50, 9, 30, 4, 3, 2, 1, 'Python']

In [74]:
a = [10,20,30,40,50]

In [75]:
a

[10, 20, 30, 40, 50]

In [76]:
c=a

In [77]:
c

[10, 20, 30, 40, 50]

In [78]:
c[3]

40

In [79]:
c[3] = 'Dec'

In [80]:
c

[10, 20, 30, 'Dec', 50]

In [81]:
a

[10, 20, 30, 'Dec', 50]

In [84]:
d = [10,20,30,40,50]

In [85]:
b = d.copy()

In [86]:
b

[10, 20, 30, 40, 50]

In [87]:
d[3]

40

# List slicing

In [89]:
a = ['a','b','c','d','e']

In [90]:
l = list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
l[2:10:5]

[3, 8]

# Tuple

In [108]:
tuple = (1,2,3,4,5,6,7,8,9,10)

In [96]:
type(a)

tuple

In [110]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [99]:
a[4]

5

In [100]:
a[0]

1

In [101]:
a[-6]

5

In [102]:
a[-1]

10

In [111]:
tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [112]:
tuple=list(tuple)

In [115]:
print("Tuple:",tuple)

Tuple: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
print("List:", list)

List: <class 'list'>

In [118]:
tuple[0] = 100

In [119]:
tuple

[100, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
b = (10, 20, 30, 40, 50, 40, 20, 40)

In [121]:
b.count(20)

2

In [122]:
b.count(40)

3

In [123]:
b.count(100)

0

In [124]:
b

(10, 20, 30, 40, 50, 40, 20, 40)

In [126]:
b.index(40)

3

# Hetrogeneous

In [127]:
c = (1, 1.5, 'a', True , False)

In [128]:
c

(1, 1.5, 'a', True, False)

In [129]:
c[1:]

(1.5, 'a', True, False)

In [130]:
c[:]

(1, 1.5, 'a', True, False)

In [131]:
c[::]

(1, 1.5, 'a', True, False)

In [141]:
c[::-2]

(False, 'a', 1)

In [142]:
c[2]

'a'

In [143]:
c[:3]

(1, 1.5, 'a')

In [147]:
d = (20, 30, -50, ['a','b',(True, False), 'a'], -50)

In [149]:
d[3][2][0]

True

In [150]:
d[3][2][1]

False

In [151]:
d[3][2]

(True, False)

In [152]:
d[3]

['a', 'b', (True, False), 'a']

In [154]:
d[4]

-50

### Conversion from tuple to list

In [158]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [160]:
type(a)

tuple

In [161]:
b = list(a)

In [162]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
type(b)

list

## Dictionary

In [165]:
dict1 = {'a':'Hi','b':100,'c':True,'d':10}

In [166]:
dict1

{'a': 'Hi', 'b': 100, 'c': True, 'd': 10}

In [167]:
dict2 = {'a':'Hi','b':100,'a':True}

In [168]:
dict2

{'a': True, 'b': 100}

In [169]:
dict3 = {'a': [True, False], 'b': 100, 'c': True, 'd': 13.45}

In [170]:
dict3

{'a': [True, False], 'b': 100, 'c': True, 'd': 13.45}

In [171]:
dict2.keys()

dict_keys(['a', 'b'])

In [172]:
dict1.items()

dict_items([('a', 'Hi'), ('b', 100), ('c', True), ('d', 10)])

In [173]:
dict2.items()

dict_items([('a', True), ('b', 100)])

In [175]:
dict3.items()

dict_items([('a', [True, False]), ('b', 100), ('c', True), ('d', 13.45)])

In [176]:
d1 = {'a':1, 'b':2, 'c':3, 'd':4}

In [177]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [178]:
type(d1.values())

dict_values

In [180]:
list(d1.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [181]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [185]:
d1.pop('d')

4

In [186]:
d1.popitem()

('c', 3)

In [187]:
l = list(range(1,6))
print(l)

[1, 2, 3, 4, 5]

In [188]:
d2 = dict.fromkeys(l, 'Hii')

In [189]:
d2

{1: 'Hii', 2: 'Hii', 3: 'Hii', 4: 'Hii', 5: 'Hii'}

In [190]:
d3 = dict.fromkeys(l, None)

In [191]:
d3

{1: None, 2: None, 3: None, 4: None, 5: None}

In [196]:
print(d3[2])

None

In [201]:
d3[2] = 'Hello'

In [202]:
d3

{1: None, 2: 'Hello', 3: None, 4: None, 5: None}

## Set

In [203]:
a = {0,1,2,3,4,5}

In [204]:
a

{0, 1, 2, 3, 4, 5}

In [205]:
type(a)

set

In [206]:
b= {10,20,30,40,50,40,30,20,10,0,-10,10,20,30,40}

In [207]:
b

{-10, 0, 10, 20, 30, 40, 50}

In [208]:
a = {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [209]:
b = {11,12,13,14,15,16,17,18,19,20}

In [210]:
a

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [211]:
b

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [212]:
a.union(b)

{0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [213]:
b.union(a)

{0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [214]:
a.update(b)

In [215]:
a

{0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [216]:
a.intersection(b)

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [218]:
b.intersection(a)

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [219]:
a.intersection_update(b)

In [220]:
b

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [221]:
a

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [222]:
c = {100, 200, 300, 400}
c

{100, 200, 300, 400}

In [225]:
c.add(500)

In [227]:
c.remove(1800)

In [228]:
c

{100, 200, 300, 400, 500}

In [229]:
a.difference(b)

set()

In [230]:
print("a:", a)
print("b:", b)

a: {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
b: {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [231]:
a = {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [232]:
print("a:", a)
print("b:", b)

a: {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
b: {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [233]:
b.difference_update(a)

In [234]:
b

{11, 13, 15, 17, 19}

In [235]:
a

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [236]:
a.symmetric_difference(b)

{0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [237]:
b.symmetric_difference(a)

{0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [238]:
a = {1,2,3,4,5,4,3}
a

{1, 2, 3, 4, 5}

In [239]:
b = set(range(4,10))
b

{4, 5, 6, 7, 8, 9}

In [240]:
a = set(range(1,6))
b = set(range(4,10))
print("a:", a)
print("b:", b)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8, 9}

In [243]:
a.add(8)

In [244]:
a

{1, 2, 3, 4, 5, 8}

In [245]:
a.add(10)
print(a)

{1, 2, 3, 4, 5, 8, 10}

In [246]:
b

{4, 5, 6, 7, 8, 9}

In [247]:
b.discard(7)

In [248]:
b

{4, 5, 6, 8, 9}

In [249]:
b.discard(70)

In [250]:
b

{4, 5, 6, 8, 9}

In [251]:
b.remove(5)

In [252]:
b

{4, 6, 8, 9}

In [253]:
b.pop()

4

In [254]:
b

{6, 8, 9}

In [255]:
b

{6, 8, 9}

In [257]:
a = set(range(1,6))
b = set(range(4,10))
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}

In [259]:
b.isdisjoint(a)

False

In [260]:
c = set(range(11,16))
print("c:", c)
print("a:", a)

c: {11, 12, 13, 14, 15}
a: {1, 2, 3, 4, 5}

In [261]:
a.isdisjoint(c)

True

In [262]:
c.isdisjoint(a)

True

In [266]:
a.issuperset(d)

False

In [268]:
c.issuperset(a)

False

## List Comprehensions

In [273]:
input_list =list(range(1,16))

In [274]:
input_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [286]:
output_list = []
for i in input_list:
    output_list.append(i + 4)
# end of for loop
print(output_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [287]:
odd_nums=[]
for i in range(1,100):
    if i%2==1:
        odd_nums.append(i)
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [288]:
sqrt_nums=[]
for i in range(1, 11): 
        sqrt_nums.append(i**0.5) 
print(sqrt_nums)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [289]:
odd_nums=[]
for i in range(1,100):
    if i%2==1 and i%5==0:
        odd_nums.append(i)
print(odd_nums)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

# String Manipulation

In [3]:
a = "How to Run code in vs code"

In [4]:
a

'How to Run code in vs code'

In [5]:
a+ '""'

'How to Run code in vs code""'

In [6]:
'....' + a

'....How to Run code in vs code'

In [10]:
'Hi' + ',' + 'Hello'

'Hi,Hello'

In [11]:
a

'How to Run code in vs code'

In [12]:
a.upper()

'HOW TO RUN CODE IN VS CODE'

In [13]:
a.lower()

'how to run code in vs code'

In [14]:
'CHANDU' == 'chandu'

False

In [17]:
'CHANDU'.upper() == 'vijaya'.lower()

False

In [19]:
'chandu'.upper() == 'chandu'.lower()

False

In [21]:
'chandu'.upper() == 'chandu'.upper()

True

In [22]:
'chandu'.lower() == 'chandu'.lower()

True

In [23]:
a

'How to Run code in vs code'

In [25]:
a.title()

'How To Run Code In Vs Code'

In [26]:
a.swapcase()

'hOW TO rUN CODE IN VS CODE'

In [27]:
a.split()

['How', 'to', 'Run', 'code', 'in', 'vs', 'code']

In [31]:
a.split()[2:5:2]

['Run', 'in']

In [35]:
name = 'Leela Gopi chand'

In [36]:
name

'Leela Gopi chand'

In [37]:
name.split()

['Leela', 'Gopi', 'chand']

In [47]:
name.split('a')

['Leel', ' Gopi ch', 'nd']

In [48]:
b = 'I- am - tring- to- understand- python- syntax.'

In [49]:
b

'I- am - tring- to- understand- python- syntax.'

In [50]:
b.split()

['I-', 'am', '-', 'tring-', 'to-', 'understand-', 'python-', 'syntax.']

In [51]:
b

'I- am - tring- to- understand- python- syntax.'

In [53]:
b.split()

['I-', 'am', '-', 'tring-', 'to-', 'understand-', 'python-', 'syntax.']

In [52]:
m=b.split()
print(m)

['I-', 'am', '-', 'tring-', 'to-', 'understand-', 'python-', 'syntax.']

In [61]:
m

['I-', 'am', '-', 'tring-', 'to-', 'understand-', 'python-', 'syntax.']

In [57]:
m[0:5]

['I-', 'am', '-', 'tring-', 'to-']

In [59]:
m[0:8:2]

['I-', '-', 'to-', 'python-']

In [62]:
len(m)

8

In [63]:
m=b.split('-')

In [64]:
m

['I', ' am ', ' tring', ' to', ' understand', ' python', ' syntax.']

In [65]:
len(m)

7

d + 28 # d is string and 28 is integer

In [69]:
g = 'january'

In [70]:
g + 2

TypeError: can only concatenate str (not "int") to str

In [74]:
g + ' '+str(02)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (254499093.py, line 1)

In [75]:
g + ' '+str(2)

'january 2'

In [79]:
e = '24'

In [80]:
e

'24'

In [83]:
e + str(5)

'245'

In [84]:
int(e)

24

In [85]:
int(e) + 10

34

In [86]:
str(7) + 3

TypeError: can only concatenate str (not "int") to str

In [89]:
str(7) + int(e)

TypeError: can only concatenate str (not "int") to str

In [90]:
int(e) + str(7)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [91]:
e + str(7)

'247'

In [93]:
24 + str(7)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [94]:
'25' + '0'

'250'

# String slicing Control

In [95]:
r1 = 'This is a VS Code'

In [96]:
r1

'This is a VS Code'

In [97]:
r1.replace('a','not')

'This is not VS Code'

In [102]:
r1

'This is a VS Code'

In [107]:
r1[0:8]

'This is '

In [110]:
print(r1)
print(r1[::-1])

This is a VS Code
edoC SV a si sihT

In [111]:
for string_char in r1:
    print(string_char)

T
h
i
s

i
s

a

V
S

C
o
d
e

In [113]:
g2 = 'ABCDEFGHIJKL'

In [114]:
g2

'ABCDEFGHIJKL'

In [120]:
output_str = ''
for l in g2:
    #print('l: ', l)
    output_str = l + output_str
    print('output_str: ',output_str)

output_str:  A
output_str:  BA
output_str:  CBA
output_str:  DCBA
output_str:  EDCBA
output_str:  FEDCBA
output_str:  GFEDCBA
output_str:  HGFEDCBA
output_str:  IHGFEDCBA
output_str:  JIHGFEDCBA
output_str:  KJIHGFEDCBA
output_str:  LKJIHGFEDCBA

# List Comprehensions

In [3]:
a5 =list(range(0,20))

In [4]:
a5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
print(output_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [14]:
[i+2 for i in input_list]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [15]:
[i*2 for i in input_list]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [16]:
b2 = list(range(15))

In [17]:
b2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [22]:
output_list = []
for i in b2:
    output_list.append(i + 10)
#
print(output_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [25]:
[i+5 for i in b2]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
o = [i+5 for i in b2]
print(o)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
input_list = list(range(1,21))

In [32]:
input_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [45]:
filtered_list = []
for i in input_list:
    if i%2 != 0:
        filtered_list.append(i)
print(filtered_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
1%2 != 0

True

In [35]:
1%2 == 1

True

In [36]:
11%2

1

In [37]:
[i for i in input_list if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
[i for i in input_list if i%2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
b3 = list(range(1,11))
print(b3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
output_list = []
for i in b3:
    if i%2 == 0:
        output_list.append('Even')
    else:
        output_list.append('Odd')
# End of for loop
print(output_list)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [55]:
['Even' if i%2 == 0 else 'Odd' for i in input_list]

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [56]:
[str(i)+'-Even' for i in input_list if i%2 == 0]

['2-Even',
 '4-Even',
 '6-Even',
 '8-Even',
 '10-Even',
 '12-Even',
 '14-Even',
 '16-Even',
 '18-Even',
 '20-Even']

In [7]:
input_string = "Do not stop when you are tired. Stop when you are done"

In [8]:
input_string

'Do not stop when you are tired. Stop when you are done'

In [10]:
b5 = input_string.split()

In [11]:
b5

['Do',
 'not',
 'stop',
 'when',
 'you',
 'are',
 'tired.',
 'Stop',
 'when',
 'you',
 'are',
 'done']

In [12]:
output_list = []

for i in b5:
    length = len(i) # checking len of word
    output_list.append(i +":"+str(length))

# end of for loop

print(output_list)

['Do:2', 'not:3', 'stop:4', 'when:4', 'you:3', 'are:3', 'tired.:6', 'Stop:4', 'when:4', 'you:3', 'are:3', 'done:4']

In [13]:
[i + ":" + str(len(i)) for i in b5]

['Do:2',
 'not:3',
 'stop:4',
 'when:4',
 'you:3',
 'are:3',
 'tired.:6',
 'Stop:4',
 'when:4',
 'you:3',
 'are:3',
 'done:4']

In [16]:
output_list = [i + ":" + str(len(i)) for i in b5]
print(output_list)

['Do:2', 'not:3', 'stop:4', 'when:4', 'you:3', 'are:3', 'tired.:6', 'Stop:4', 'when:4', 'you:3', 'are:3', 'done:4']